<?xml version="1.0" encoding="utf-8"?>
<cruisecontrol>

 <!--internalSecurity>
    <users>
      <ldapUser name="runner" domain="localhost" />
      <simpleUser name="guest" display="Guest" />
    </users>
    <permissions>
      <rolePermission name="Guest"  defaultRight="Deny"  viewProject="Allow">
        <users>
          <userName name="guest"/>
        </users>
      </rolePermission>

      <rolePermission name="autobuilds" defaultRight="Allow">
        <users>
          <userName name="runner"/>
        </users>
      </rolePermission>
    </permissions>
  </internalSecurity-->

</cruisecontrol>